.exploreFoodsNacionalities {
  width: 100%;
}

.cardContainer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-block: 30px;
  width: 100%;
}

.select {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 50%;
}

.select > select {
  min-width: 50%;
}
